@model iCare.Models.Casepaper

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .custom-heading {
            font-family: 'Arial', sans-serif;
            font-style: italic;
            font-weight: bold;
        }

        .min-title {
            background-color:goldenrod; /* Green */
            color: white;
            font-weight: bold;
            padding: 10px;
        }

        .min-title-1 {
            background-color: midnightblue; /* Green */
            color: white;
            font-weight: bold;
            padding: 10px;
        }

        .left-eye {
            background-color: limegreen; /* Dark blue */
            color: white;
        }

        .right-eye {
            background-color: limegreen; /* Orange */
            color: white;
        }

        .table tbody td {
            background-color: #f8f9fa; /* Faint gray background */
            color: black;
            padding: 10px;
            font-size: 1em;
        }

            .table tbody td input {
                width: 100%;
                box-sizing: border-box;
            }
    </style>
</head>

<h1 class="text-center custom-heading">
    <i class="fas fa-file-medical"></i> CasePaper Details
</h1>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered text-center mt-3">
                <thead class="thead-primary">
                    <tr>
                        <th colspan="0" class="left-eye"></th>
                        <th colspan="3" class="right-eye">Right Eye</th>
                        <th colspan="3" class="left-eye">Left Eye</th>
                    </tr>
                    <tr>
                        <th class="min-title-1"></th>
                        <th class="min-title-1">SPH</th>
                        <th class="min-title-1">CYL</th>
                        <th class="min-title-1">AXIS</th>
                        <th class="min-title-1">SPH</th>
                        <th class="min-title-1">CYL</th>
                        <th class="min-title-1">AXIS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-light">Distance Vision</td>
                        <td class="right-eye">@Html.DisplayFor(model => model.RightEyeSphdv)</td>
                        <td class="right-eye">@Html.DisplayFor(model => model.RightEyeCyldv)</td>
                        <td class="right-eye">@Html.DisplayFor(model => model.RightEyeAxisdv)</td>
                        <td class="left-eye">@Html.DisplayFor(model => model.LeftEyeSphdv)</td>
                        <td class="left-eye">@Html.DisplayFor(model => model.LeftEyeCyldv)</td>
                        <td class="left-eye">@Html.DisplayFor(model => model.LeftEyeAxisdv)</td>
                    </tr>
                    <tr>
                        <td class="table-light">Near Vision</td>
                        <td class="right-eye">@Html.DisplayFor(model => model.RightEyeSphnv)</td>
                        <td class="right-eye">@Html.DisplayFor(model => model.RightEyeCylnv)</td>
                        <td class="right-eye">@Html.DisplayFor(model => model.RightEyeAxisnv)</td>
                        <td class="left-eye">@Html.DisplayFor(model => model.LeftEyeSphnv)</td>
                        <td class="left-eye">@Html.DisplayFor(model => model.LeftEyeCylnv)</td>
                        <td class="left-eye">@Html.DisplayFor(model => model.LeftEyeAxisnv)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="row mt-3">
                <dt class="col-sm-3">Patient Name</dt>
                <dd class="col-sm-3">
                    @Html.DisplayFor(model => model.Patient.PatientName)
                </dd>
                <dt class="col-sm-3">Mobile Number</dt>
                <dd class="col-sm-3">@Html.DisplayFor(model => model.MobileNumber)</dd>
                <dt class="col-sm-3">FrameType</dt>
                <dd class="col-sm-3">
                    @Html.DisplayFor(model => model.FrameTypes.FrameTypeName)
                </dd>
                
                <dt class="col-sm-3">GlassType</dt>
                <dd class="col-sm-3">
                    @Html.DisplayFor(model => model.GlassTypes.GlassTypeName)
                </dd>
                <dt class="col-sm-3">Frames</dt>
                <dd class="col-sm-3">
                    @Html.DisplayFor(model => model.Frame.FrameType)
                </dd>
                <dt class="col-sm-3">GlassTypes</dt>
                <dd class="col-sm-3">
                    @Html.DisplayFor(model => model.Glass.GlassType)
                </dd>
                <dt class="col-sm-3">Created Date</dt>
                <dd class="col-sm-3">@Html.DisplayFor(model => model.CreatedDate)</dd>
                <dt class="col-sm-3">Remarks</dt>
                <dd class="col-sm-3">@Html.DisplayFor(model => model.Remarks)</dd>
                <dt class="col-sm-3">Amount</dt>
                <dd class="col-sm-3">@Html.DisplayFor(model => model.Amount)</dd>
                <!-- Add more details here if needed -->
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 text-center">

            <!-- Button to trigger modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal">
                <i class="fas fa-exclamation-triangle"></i> Confirm Edit
            </button>
            <!-- Back to List Button -->
            <a asp-action="Index" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Back to List
            </a>
        </div>
    </div>

    <!-- Alert Message -->
    <div class="alert alert-info mt-3" role="alert">
        Please make sure to review all details before editing.
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirm Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to edit this item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a asp-action="Edit" asp-route-id="@Model?.CasepaperId" class="btn btn-primary">Confirm</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap and jQuery scripts -->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script> 
