@model IEnumerable<InventoryManagementSystem.Models.Domain.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th,
    td {
        text-align: left;
    }
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> Add Users</a>
</p>
<div class="card-body p-0">
    <table class="table table-striped projects">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td class="project-actions">
                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.UserId">
                            <i class="fas fa-folder"></i> View
                        </a>
                    </td>
                    <td class="project-actions">
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.UserId">
                            <i class="fas fa-pencil-alt"></i> Edit
                        </a>
                    </td>
                    <td class="project-actions">
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.UserId">
                            <i class="fas fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
